		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 100%;
			height: 100%;
		}

		#was
{
    
   
    text-align:center;
    border-radius:5px;
    background: rgba(255,255,0,0.7);
    position:absolute;
    top:10px;
    left:calc(50% - 300px);
    margin:auto;
        z-index: 2000;
    display: inline-block;
    
}

.input.maps input {
    padding: 0 35px;
}

#places {
    float: left;
    
    width: 500px;
    border: 3px solid #d5eff6;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
  
}

	#map { width: 100%;
			height: 100%; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

.scroler{
	
	width: 250px;
	height: 800px;
	z-index: 999;
	overflow-y: scroll;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}